<!DOCTYPE html>

<html lang="en">
<head>
<% var dishname = recipe.dishname; %>
<% var date = recipe.date; %>
<% var recipetext = recipe.recipe; %>
<% var notes = recipe.notes; %>
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/style.css">
<title>Editing "<%= dishname %>"</title>
</head>

<body>
	<div id="nav">
		<a href="/myrecipes/<%= username %>">My Recipes</a>
		<a href="/logout">Logout</a>
	</div>
	
	<form name="newrecipe" action="/submit" method="POST">	
		<div id="dishname">
			DISH: <input type="text" name="dishname" placeholder="Name your dish." value="<%= dishname %>" />	
		</div>

		<div id="date">
			DATE: <input type="date" name="date" value="<%= date %>" />
		</div>
		
		<div id="recipeholder">
			RECIPE:
			<div id="recipetext">
				<textarea name="recipetext" placeholder="Enter the recipe."><% if (recipetext) { %><%= recipetext %><% } %></textarea>
			</div>
		</div>

		<div id="notesholder">
			NOTES: 
			<div id="notes">
				<textarea name="notes" placeholder="What did you change? How did it taste?"><% if (notes) { %><%= notes %><% } %></textarea>
			</div>
		</div>

		<div id="photoholder">
			PHOTO:
			<input id="fileupload" type="file" method="POST">
			<input id="filesubmit" type="submit" value="SUBMIT">
			<div id="photo">
			</div>
		</div>
		
		<div id="submit">
			<input type="submit" value="SAVE RECIPE">
		</div>
	</form>
</body>
</html>