<!DOCTYPE html>

<html lang="en">
<head>
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style.css">
	<title> <%= title %> </title>
</head>
<body>
	<div id="nav">
		<a href="/new">New Recipe</a>
		<a href="/logout">Logout</a>
	</div>
	<p>
	<div id="showrecipes">
		<% if (lgth>0) {%>
			<% myrecipes.forEach(function(item) { %>
				<div class="recipe" id="<%= item._id %>">
					Date: <%= item.date %>
					<p>
					Name: <%= item.dishname %>
					<p>								
					Recipe: <%= item.recipe %>
					<p>
					Notes: <%= item.notes %>
					<p>
					<form method="POST" action="/edit/<%= item._id %>" >
						<input type="hidden" value="put" name="_method" />
						<input type="submit" name="submit" id="submit" value="Edit" />
					</form>
					<form method="GET" action="/delete/<%= item._id %>" >
						<input type="submit" name="submit" id="submit" value="Delete" />
					</form>
				</div>
				<p>
			<% }) %>
		<% } %>
		<% if (lgth == 0) { %>
			<p>
			No recipes yet!
			<p>
		<% } %>
	</div>
</body>
</html>
